body {
  font-family: Arial, sans-serif;
  background-color: cyan;
  color: #333;
  background: url("https://i.imgur.com/NCULLnm.gif");
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

h1 {
  text-align: center;
  margin-top: 50px;
  color:#0fdb16;
}

form {
  max-width: 500px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type=text],
input[type=email],
input[type=password] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
}

button[type=submit] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type=submit]:hover {
  background-color: #555;
}

#paa p {
	font-size: 42px;
	color: #0fdb16;
	text-align: center;
}
